*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main1 {
  background-color: black;
  width: 800px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  color: white;
}
p{
  color: grey;
}
button{
  width: 100px;
  height: 35px;
  background-color: rgb(20, 50, 20);
  color: white;
}
input{
  background-color: rgb(51, 63, 51);
  margin: 20px;
  width: 200px;
  height: 50px;
  border-radius: 30px;
}